<div id="hw-cookies-consent" class="fixed-bottom d-none" data-mode="{{ get_field('cookies_mode', 'options') }}">
  <div id="hw-cookies-consent-introduction">
    <p>
      {{ get_field('cookies_text', 'options') }}
      <a class="hw-cookies-link hw-cookies-btn-configure" href="#">{{ __('Configure', 'hw-theme') }}</a>
      <a class="hw-cookies-link hw-cookies-btn-agree" href="#">{{ __('Accept all', 'hw-theme') }}</a>
    </p>
  </div>
</div>

<div id="hw-cookies-consent-modal" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ __('Cookies consent', 'hw-theme') }}</h5>
      </div>
      <div class="modal-body">
        {% for setting in get_field('cookies_settings', 'options') %}
          <div class="d-flex align-items-center">
            <div class="hw-cookies-setting-description flex-grow-1">
              <h6>{{ setting.title }}</h6>
              {{ setting.text }}
              {% if setting.key == 'traffic' %}
                <p class="hw-do-not-track-message d-none text-danger small mb-15">
                  {{ __('Vous avez activé la fonctionnalité «Ne pas suivre» de votre navigateur. Nous ne pouvons donc pas vous proposer d’activer ce cookie.', 'hw-theme') }}
                </p>
              {% endif %}
            </div>
            <div>
              <div class="form-check form-switch">
                <input class="hw-cookies-setting-switch form-check-input" type="checkbox" role="switch" data-key="{{ setting.key }}" {{ setting.mandatory ? 'checked disabled' : '' }}>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary hw-cookies-btn-close-modal" data-bs-dismiss="modal">{{ __('Close', 'hw-theme') }}</button>
      </div>
    </div>
  </div>
