<header class="fixed-top background-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="{{ site.url }}">{{ site.title }}</a>

        <a href="#" id="button-toggle-menu">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    </div>
  </div>
</header>

<menu id="menu" class="fixed-top vh-100 m-0 p-30 background-gray">
  {% for item in menu.items %}
    <a href="{{ item.link }}" class="d-block color-black hover-primary {{ item.classes|join(' ') }}">{{ item.title }}</a>
  {% endfor %}

  <!-- {% do action('icl_language_selector') %} -->
</menu>
