<!doctype html>
<html lang="{{ site.language }}">
<head>
  <meta charset="{{ site.charset }}"/>
  <meta name="description" content="{{ site.description }}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>

  {{ function('wp_head') }}
</head>

<body class="{{body_class}}">
  {% block header %}
    {% include 'structure/header.twig' %}
  {% endblock %}

  {% block content %}
    Sorry, no content
  {% endblock %}

  {% block footer %}
    {% include 'structure/footer.twig' %}
  {% endblock %}
  {{ function('wp_footer') }}
</body>
</html>
